# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\Student_Part_Time_System\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
