<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Student_Part_Time_System</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AdministratorLogin</display-name>
    <servlet-name>AdministratorLogin</servlet-name>
    <servlet-class>administrator.AdministratorLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdministratorLogin</servlet-name>
    <url-pattern>/AdministratorLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdministratorSearch</display-name>
    <servlet-name>AdministratorSearch</servlet-name>
    <servlet-class>administrator.AdministratorSearch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdministratorSearch</servlet-name>
    <url-pattern>/AdministratorSearch</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdministratorInsert</display-name>
    <servlet-name>AdministratorInsert</servlet-name>
    <servlet-class>administrator.AdministratorInsert</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdministratorInsert</servlet-name>
    <url-pattern>/AdministratorInsert</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdministratorDelete</display-name>
    <servlet-name>AdministratorDelete</servlet-name>
    <servlet-class>administrator.AdministratorDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdministratorDelete</servlet-name>
    <url-pattern>/AdministratorDelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdministratorResetPassword</display-name>
    <servlet-name>AdministratorResetPassword</servlet-name>
    <servlet-class>administrator.AdministratorResetPassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdministratorResetPassword</servlet-name>
    <url-pattern>/AdministratorResetPassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdministratorUpdate</display-name>
    <servlet-name>AdministratorUpdate</servlet-name>
    <servlet-class>administrator.AdministratorUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdministratorUpdate</servlet-name>
    <url-pattern>/AdministratorUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentDelete</display-name>
    <servlet-name>StudentDelete</servlet-name>
    <servlet-class>student.StudentDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentDelete</servlet-name>
    <url-pattern>/StudentDelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentResetPassword</display-name>
    <servlet-name>StudentResetPassword</servlet-name>
    <servlet-class>student.StudentResetPassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentResetPassword</servlet-name>
    <url-pattern>/StudentResetPassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployerDelete</display-name>
    <servlet-name>EmployerDelete</servlet-name>
    <servlet-class>employer.EmployerDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployerDelete</servlet-name>
    <url-pattern>/EmployerDelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployerSearch</display-name>
    <servlet-name>EmployerSearch</servlet-name>
    <servlet-class>employer.EmployerSearch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployerSearch</servlet-name>
    <url-pattern>/EmployerSearch</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployerSearchStu</display-name>
    <servlet-name>EmployerSearchStu</servlet-name>
    <servlet-class>employer.EmployerSearchStu</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployerSearchStu</servlet-name>
    <url-pattern>/EmployerSearchStu</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployerResetPassword</display-name>
    <servlet-name>EmployerResetPassword</servlet-name>
    <servlet-class>employer.EmployerResetPassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployerResetPassword</servlet-name>
    <url-pattern>/EmployerResetPassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentLogin</display-name>
    <servlet-name>StudentLogin</servlet-name>
    <servlet-class>student.StudentLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentLogin</servlet-name>
    <url-pattern>/StudentLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentRegister</display-name>
    <servlet-name>StudentRegister</servlet-name>
    <servlet-class>student.StudentRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentRegister</servlet-name>
    <url-pattern>/StudentRegister</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateCurriculumVitae</display-name>
    <servlet-name>CreateCurriculumVitae</servlet-name>
    <servlet-class>student.CreateCurriculumVitae</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateCurriculumVitae</servlet-name>
    <url-pattern>/CreateCurriculumVitae</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentSearch</display-name>
    <servlet-name>StudentSearch</servlet-name>
    <servlet-class>student.StudentSearch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentSearch</servlet-name>
    <url-pattern>/StudentSearch</url-pattern>
  </servlet-mapping>
</web-app>